<table class='table bg-white'>
	<tbody>
		<tr>
			<td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'png', fallback: "no_image_square.jpg",size:'100x100' %></td>
		</tr>
		<tr>
			<td>投稿数：<%= user.posts.count %></td>
		</tr>
		<tr>
			<td>お気に入り登録数：<%= user.bookmarks.count %></td>
		</tr>
		<tr>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td><%= user.body %></td>
		</tr>
		<tr>
			<td><%= link_to 'フォロー', user_followers_path([user]) %></td>
		</tr>
		<tr>
			<td><%= link_to 'フォロワー', user_followings_path([user]) %></td>
		</tr>
			  <% if current_user != user %>
		  <% if current_user.following?(user) %>
		<tr>
		  <td>


	          <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
	          <% else %>
	          <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
	          <% end %>
          <% end %>
         </td>
         <td>
          <% if user_signed_in? && current_user.id == @user.id %>
		  <%=  link_to "マイページ編集", edit_user_path(@user) %>
		　<% end %>
		  </td>
    　　</tr>
	</tbody>
</table>