<div class="container-fluid bg-white">
  <div class="row">
    <div class='table'>
      <%# if @post.blank? %>
      <%#<h3>このユーザーは投稿していません</h3>
      <%# else %>
      <% posts.each do |post| %>
        <div class="border-top border-primary">
          <div class="header pl-2 pt-1">
            <%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, fallback:"no_image_square.jpg",size:'30x30' %>
            <%= link_to post.user.name, user_path(post.user) %>さん　<%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>に投稿
          </div>
          <div class="body pl-2">
            <h3><%= link_to post.title, post_path(post) %></h3>
          </div>
          <div class="cut_time pl-2">
            <tr>
            <% if post.cut_time.minute == 0 && post.cut_time.second == 0 %>
            <p>こちらの記事は短縮時間を設定していません</p>
            <% else %>
            <i class="far fa-clock"></i><%= post.cut_time.minute %>min<%= post.cut_time.second %>sec
            <div class="text-right">
              <i class="far fa-thumbs-up"></i><%= post.favorites.count %><i class="far fa-bookmark yellow"></i><%= post.bookmarks.count %>
            </div>
            <% end %>
            </tr>
          </div>
        </div>
      <% end %>
      <%# end %>
    </div>
  </div>
</div>