<div class="container-fluid bg-light">
  <div class="row">
    <div class='table'>
      <% posts.each do |post| %>
        <div class="border-top border-primary">
          <div class="header pl-2 pt-1">
          <%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, fallback:"no_image.jpg",size:'30x30' %>
          <%= link_to post.user.name, user_path(post.user) %>さん
            </div>
            <div class="body pl-2">
            <h3><%= link_to post.title, post_path(post) %></h3>
            </div>
            <div class="cut_time pl-2">
           <tr>
            <% if post.cut_time.minute == 0 && post.cut_time.second == 0 %>
            <p>こちらの記事は短縮時間を設定していません</p>
            <% else %>
            <i class="far fa-clock"></i><%= post.cut_time.minute %>min<%= post.cut_time.second %>sec
            <div class="text-right">
            <i class="far fa-thumbs-up"></i><%= post.favorites.count %><i class="far fa-bookmark"></i><%= post.bookmarks.count %>
            </tr>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>