<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
 <%= form_with model: @post, local:true do |f| %>
<table>
	<tbody>
		<tr>
			<td><%= f.label :tag_list, 'タグをカンマ区切りで入力' %></td>
		</tr>
		<tr>
			<td><%= text_field_tag 'post[tag_list]', @post.tag_list, :class => "form-control" %></td>
		</tr>
		<tr>
			<td><h4>画像</h4></td>
		</tr>
		<tr>
			<td><%= f.attachment_field :image %></td>
		</tr>
		<tr>
			<td><h4>タイトル</h4></td>
		</tr>
		<tr>
		  <td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><h4>本文</h4></td>
		</tr>
		<tr>
			<td> <%= f.text_area :body, :size=>"90x10" %></td>
		</tr>
		<tr>
			<td><h5>この記事の短縮時間を設定 </h5></td>
		</tr>
		<%= f.fields_for :cut_times, local:true do |fa| %>
		<tr>
			<td><%= fa.number_field :minute, min: 0, max: 59, value: "0" %>分<%= fa.number_field :second, min: 0, max: 99, value: "0" %>秒
			<%= fa.hidden_field :user_id %></td>
			<% end %>
			<td><%= f.submit '投稿' %></td>
			<% end %>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
