<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
  <%= form_with model: @post, local:true do |f| %>

  <%= f.label :tag_list, 'タグをカンマ区切りで入力' %>
  <%= text_field_tag 'post[tag_list]', @post.tag_list, :class => "form-control" %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <h5>CutTime</h5>
  <%= f.fields_for :cut_times, local:true do |fa| %>
  <h4>分</h4>
  <%= fa.number_field :minute, min: 0, max: 59, value: "0" %>
  <h4>秒</h4>
  <%= fa.number_field :second, min: 0, max: 99, value: "0" %>
  <%= fa.hidden_field :user_id %>
  <% end %>
  <%= f.submit '投稿' %>
  <% end %>
</div>
</div>
</div>
