<div class='container mx-auto bg-white p-4'>
  <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <%= attachment_image_tag @post.user, :profile_image, :fill, 30, 30, fallback:"no_image.jpg",size:'30x30' %>
        <%= link_to @post.user.name, user_path(@post.user), class: "lead" %>さんが<%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>に投稿
        <% if @post.user == current_user %>
            <%= link_to "投稿の編集", edit_post_path(@post) %>
        <% end %>
        <%= attachment_image_tag @post, :image %>
          <div class="tag-box">
          <% @post.tags.each do |tag| %>
            <span class="label"><%= tag.name %></span>
          <% end %>
          </div>
        <h3><%= @post.title %></h3>
        <% if @cut_time.minute == 0 && @cut_time.second == 0 %>
            <p>こちらの記事は短縮時間を設定していません</p>
        <% else %>
            <p>この記事のテクニックを用いれば<%= @cut_time.minute %>分<%= @cut_time.second %>秒時間を節約できます</p>
        <% end %>
        <div class="container-fluid">
            <p style="word-break:break-all;"><%= @post.body %></p>
        </div>

        <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger' %>
        <% end %>
        <div class="row">
          <div class="col">
            <%= render partial: 'layouts/favorite', post: @post %>
          </div>
          <div class="col">
            <%= render partial: 'layouts/bookmark', post: @post %>
          </div>
        </div>
        <div class="comments">
            <p>コメント件数：<%= @post.post_comments.count %></p>
            <% @post.post_comments.each do |post_comment| %>
              <p>
                <%= attachment_image_tag post_comment.user, :profile_image, :fill, 30, 30, fallback:"no_image_square.jpg",size:'30x30' %>
                <%= post_comment.user.name %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </p>
              <%= post_comment.comment %>
            <% end %>
        </div>
        <div class="new-comment">
            <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
                <%= f.text_area :comment, size:'40x5',placeholder: "コメントをここに" %>
                <%= f.submit "コメント", class: 'btn btn-primary' %>
            <% end %>
        </div>
  </div>
  </div>
</div>