  <class="d-flex flex-column vh-100">
    <header class="shadow-sm ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
        <% if user_signed_in? %>
        <h2><%= link_to "ESC", posts_path, class:"text-dark" %></h2>

        WELCOME!　<%= current_user.name %>
        <%= link_to '投稿フォーム', new_post_path %>
        <%= link_to 'my page', user_path(current_user) %>
        <%= link_to 'Post一覧', posts_path %>
        <%= link_to 'User一覧', users_path %>
        <%= link_to 'お気に入り一覧', user_bookmark_path([:id]) %>
        <%= link_to 'following', user_followings_path([@user]) %>
        <%= link_to 'follower', user_followers_path([@user]) %>

      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <h2><%= link_to "ESC", "/", class:"text-dark" %></h2>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>