<!DOCTYPE html>
<html>
  <head>
    <title>Esc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <% if user_signed_in? %>
        <%= link_to 'æŠ•ç¨¿ãƒ•ã‚©ãƒ¼ãƒ ', new_post_path %>
        <%= link_to 'my pageðŸ˜', user_path(current_user) %>
        <%= link_to 'ä¸€è¦§', posts_path %>
      <li>
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
